footer {
  background-color: transparent !important;
  position: fixed;
  bottom: -60px;
  h3 {
    font-family: 'Eina03-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #5b5b5b;
  }
}
